{% extends 'layout-admin.html.twig' %}

{% trans_default_domain 'app' %}

{% set active = 'handle-fidelity-card' %}

{% block page_title %}
    {{ 'admin.cards.manage' | trans | title }}
{% endblock %}

{% block content %}

    <h2>{{ 'admin.cards.manage' | trans | title }}</h2>

    {% if cards is not empty %}

        <p class="text-right">
            <a href="{{ path('card_create_admin') }}" class="btn btn-info">
                <i class="fa fa-plus"></i>
                {{ 'admin.cards.create_numeric' | trans}}
            </a>
        </p>

        {% embed "component/_form_modal.html.twig" with {
            modal_id: 'send_numeric_card_modal',
            modal_title: 'admin.cards.email_modal_title' | trans,
            modal_form_action: path('card_send_numeric_card_by_email_admin'),
            modal_close_label: 'Annuler',
            modal_valid_label: 'admin.cards.send' | trans
        } %}
            {% trans_default_domain 'app' %}
            {% block modal_form_inputs %}
                <input name="cardNumber" id="js-card-number" type="hidden">

                <div class="form-group">
                    <input class="form-control" name="email" id="mail" placeholder="mail@gmail.com" type="email">
                </div>
            {% endblock %}
        {% endembed %}

        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>{{ 'admin.cards.number' | trans}}</th>
                    <th>{{ 'admin.cards.type' | trans}}</th>
                    <th>{{ 'admin.cards.activation' | trans}}</th>
                </tr>
            </thead>
            <tbody>

            {% for card in cards %}
                <tr>
                    <td>{{ card.id }}</td>
                    <td>{{ cardNumber(card.centerCode, card.cardCode) }}</td>
                    <td>{{ card.type | trans }}</td>
{#                     TODO: Placer des boutons pour activation ET envoie d'email#}
                    <td>
                        {% if card.activatedAt %}
                            {{ card.activatedAt | date('d-m-Y') }}
                        {% elseif "numeric" == card.type %}
                            <a href="#"
                               class="btn btn-info btn-send-mail-to-activate"
                               data-bs-card-number="{{ cardNumber(card.centerCode, card.cardCode) }}"
                               data-bs-toggle="modal"
                               data-bs-target="#send_numeric_card_modal"
                            >
                                <i class="fas fa-share-square"></i>
                                {{ 'admin.cards.send_email' | trans}}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    {% else %}
        {% if errorMessage is null %}
            <div class="alert alert-info" role="alert">
                <p>{{ 'admin.cards.no_cards' | trans}}</p>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <p>{{ 'admin.cards.api_error' | trans}}</p>
                <p><small>{{ errorMessage }}</small></p>
            </div>
        {% endif %}

    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form_send_numeric_card') }}
{% endblock %}
