{% extends "layout.html.twig" %}

{% trans_default_domain 'user' %}

{% set active = 'login' %}

{% block page_title %}
    {{ 'layout.login' | trans | title }}
{% endblock %}

{% block content %}
    {% embed "component/_black_card.twig" %}
        {% trans_default_domain 'user' %}
        {% block card_content %}
            <h1 class="fw-bold mb-5 text-uppercase">{{ 'layout.login' | trans | title}}</h1>

            <form action="{{ path('security_login') }}" method="post" class="mb-5">
                <div class="mb-4">
                    <label class="form-label" for="typeEmailX">{{ 'security.login.username' | trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control {% if error %}is-invalid{% endif %}" />
                </div>

                <div class="mb-4">
                    <label class="form-label" for="typePasswordX">{{ 'security.login.password' | trans }}</label>
                    <input type="password" id="password" name="_password" class="form-control {% if error %}is-invalid{% endif %}" />
                    <p class="invalid-feedback">{% if error %}{{ error.messageKey|trans(error.messageData, 'security') }}{% endif %}</p>
                </div>

                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">{{ 'security.login.forgot_password?' | trans }}</a></p>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-warning" type="submit">{{ 'security.login.submit' | trans }}</button>
            </form>

            <p class="mb-0">{{ 'security.login.dont_have_account?' | trans }} <a href="{{ path('security_register') }}" class="text-white-50 fw-bold">{{ 'security.login.sign_up' | trans }}</a></p>
        {% endblock %}
    {% endembed %}
{% endblock %}