{% extends 'layout-admin.html.twig' %}

{% trans_default_domain 'app' %}

{% set active = 'admin' %}

{% block page_title %}
    {{ 'admin.pricings.manage' | trans | title }}
{% endblock %}

{% block content %}

    <h2> {{ 'pricing.update' | trans }} {{ pricing.code | trans }}</h2>

    {{ form_start(form) }}

    {{ form_rest(form) }}

    <input type="submit" class="btn btn-lg btn-primary" value="Valider">

    {{ form_end(form) }}

{% endblock %}

