{% extends 'layout-admin.html.twig' %}

{% trans_default_domain 'app' %}

{% set active = 'admin' %}

{% block page_title %}
    {{ 'admin.news' | trans | title }}
{% endblock %}

{% block content %}

    <h2>{{ 'admin.articles.manage' | trans | title }}</h2>
    <p class="text-right">
        <a href="{{ path('create_article_admin') }}" class="btn btn-info">
            <i class="fas fa-plus"></i>
            {{ 'admin.article.add' | trans }}
        </a>
    </p>
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th>{{ 'admin.article.image' | trans }}</th>
                <th>{{ 'admin.article.title' | trans }}</th>
                <th>{{ 'admin.article.date' | trans }}</th>
                <th>{{ 'admin.article.excerpt' | trans }}</th>
                <th colspan="2">{{ 'admin.article.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><img src="{{ asset('picture/articles/' ~ article.picture) }}" alt="{{ article.title | title }}" class="article-image"></td>
                <td>{{ article.title | title }}</td>
                <td>{{ article.createdAt | date('d-m-Y') }}</td>
                <td>{{ article.content | summary }}</td>
                <td>
                    <a href="{{ path('update_article_admin', {'id': article.id }) }}" class="btn btn-warning" title="{{ 'admin.article.edit' | trans }}">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_article_modal"
                            data-bs-modal_valid_href="{{ path('remove_article_admin', {'id': article.id }) }}" title="{{ 'admin.article.delete' | trans }}">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('component/_modal.html.twig', {
        modal_id: 'delete_article_modal',
        modal_title: 'admin.article.delete' | trans,
        modal_body: 'admin.article.confirm_delete' | trans,
        modal_valid_href: '',
        modal_close_label: 'Non',
        modal_valid_label: 'Oui'
    }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('delete_article_modal') }}
{% endblock %}

