{% extends 'layout-admin.html.twig' %}

{% trans_default_domain 'app' %}

{% set active = 'admin' %}

{% block page_title %}
    {{ 'admin.article.add' | trans | title }}
{% endblock %}

{% block content %}
    <h2>{{ pageTitle | trans | title }}</h2>
    <div id="edit-article">
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
            {{ form_row(form.picture) }}
            {{ form_row(form.slider) }}
            <div class="d-flex justify-content-center mt-4">
                <input type="submit" value="{{ 'admin.article.add'|trans }}" class="btn btn-lg btn-primary" />
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    {{ encore_entry_script_tags('ckeditor') }}#}
    {{ encore_entry_script_tags('drag_and_drop_img') }}
{% endblock %}