{% extends "layout.html.twig" %}

{% set active = 'news' %}

{% block page_title %}
    {{ article.title | title }}
{% endblock %}

{% block content %}
    <div class="container mt-5">

        <img class="img-fluid mx-auto" src="{{ asset('picture/articles/' ~ article.picture) }}" alt="{{ article.title }}">
        
        <h1 class="mt-5">{{ article.title }}</h1>

        <p class="text-muted font-italic">{{ article.createdAt | date('d-m-Y') }}</p>

        <div>
            {{ article.content | raw }}
        </div>
        

    </div>
{% endblock %}